DEBUG=True
SECRET_KEY=[una_secret_key]
DATABASE_URL=sqlite:///db.sqlite3
ALLOWED_HOSTS=localhost,127.0.0.1

MERCADOPAGO_ACCESS_TOKEN=[credenciales_de_prueba]
MERCADOPAGO_PUBLIC_KEY=[credenciales_de_prueba]

ACCOUNT_EMAIL_VERIFICATION=none
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend