
__pycache__/
*.py[cod]
*$py.class


db.sqlite3
db.sqlite3-journal
media/                 # subidas de usuario (avatars/, product_images/)
staticfiles/           # salida de collectstatic (mantén 'static/' en control)
*.log


.env
.env.*
!.env.example          # conserva un ejemplo si lo usas


.venv/
venv/
env/
.python-version
.conda/
.conda_env/


.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
coverage.xml
junit*.xml


.vscode/
.idea/
*.code-workspace


Thumbs.db
Desktop.ini
.DS_Store


node_modules/
dist/
build/